{% extends "layout.jinja2" %}
{% block navigation %}
{% endblock navigation %}
{% block content %}
<div class="container">
  {% include 'c2cgeoform:/templates/edit.jinja2' %}
</div>
{% endblock content %}
